
.content{
  margin-left:150px;
}

html{
  height:1200px;
}

.content img{
  border-radius: 15px;
  box-shadow:3px 10px 5px grey;
  display: block;
  max-width:600px;
  max-height:350px;
  min-width:600px;
  min-height:350px;
  width: auto;
  height: auto;
}

table td{
  text-align:center;
  font-size:25px;
}

table td .star{
  text-align: left;
}

table th{
  text-align:center;
  font-size:45px;
}

#booking_form{
  position:fixed;

  margin-top:50px;
  margin-left: 50%;
  border: 2px solid lightgray;
  padding: 50px;
  padding-bottom:150px;
  width:300px;
  border-radius: 15px;
}

#booking_form button[type="submit"]{
  background-color:#d35454;
  border-radius: 20px;
  color:white;
  font-size: 20px;
  padding-left:12px;
  padding-right:12px;
  padding-top: :8px;
  padding-bottom: 8px;
  text-align: center;
  margin-top:50px;
  margin-left:110px;
}


#booking_form button[type="submit"]:hover{
  background-color:#orange;
}


.stars a::after{
  content: "\2605";
}

.stars.accom{
  display:inline;
  width-left:auto;
  width-right:auto;
}

.stars.user{
  width:150px;
}

.stars a {
	float:right;
	font-size:180%;
	line-height:.8;
	text-shadow: 0 0 3px gray;
	color:#eee;
}

.stars a.registered,
.stars a.registered ~ a {
	color:orange;
	text-shadow: 0 0 3px;
}
