body{
  //background-image: url("../pictures/sample_room1.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  height: 100%
}

#location_select{
  position: fixed;
  margin-left: 30%;
  z-index:1;
  color:#222;
  background: lightGray;
  width: 240px;
  height:25px;
  border-radius: 20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#444;
}

.main_div{
  height:1500px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#444;
  font-size:20px;
}

.main_div table{
  border-spacing:5px;
}

#accom {
  background-color:#aaa;
  border-radius:20px;
}

.content{
  height:500px;
  margin:70px;
  margin-top:100px;
}
.center{
  display: block;
  margin: 0 auto;
  margin-top:15px;
}

.home_acc{
  border-radius: 15px;
  box-shadow:10px 10px 5px grey;
  display: block;
  max-width:250px;
  max-height:250px;
  min-width:250px;
  min-height:250px;
  width: auto;
  height: auto;
}

td{
  width:250px;
  text-align: center;
}
