#profile_nav body {
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    display: block;
  }

#navbar li{
      display:inline;
      float:right;
      text-align: center;
  }

#navbar img{
  border-radius:50%;
}

#profile_nav ul {
      float:left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 15%;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
  }
.nav li a{
  display: block;
  padding: 13px 16px;
  text-decoration: none;
  color:#666;
}

.nav li a.active {
    background-color: #d35454;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.nav li a:hover {
  background-color: #555;
  color: white;
}
